*,
*::after,
*::before {
    content: "";
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /*1rem=10px; 10/16=62.5%*/
}

@media screen and (max-width: 62em) {
    html {
        /* 56.25% = 9px */
        font-size: 56.25%;
    }
}

@media screen and (max-width: 36em) {
    html {
        /* 50% = 8px */
        font-size: 50%;
    }
}

@media screen and (min-width: 105em) {
    html {
        /* 75% = 12px */
        font-size: 75%;
    }
}

body {
    background-color: #F2EFEE;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Galaxie Copernicus', 'Inter', sans-serif;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}