@font-face {
    font-family: "GalaxieCopernicus";
    src: url(../Fonts/GalaxieCopernicus-Book.otf) format('OpenType');
}

@font-face {
    font-family: "Inter";
    src: url(../Fonts/Inter-VariableFont_slnt\,wght.ttf) format('TrueType');
}