.header__icons>figure {
    display: inline-block;
}

.header__icons {
    display: flex;
    justify-content: right;
    padding: 22px 0;
}

.twitter-icon {
    margin-right: 4.8rem;
}

.header__main {
    background-color: #FFFFFF;
    height: 768px;
    position: relative;
    left: 6rem;
}

.header__main>.container {
    position: relative;
    left: -6rem;
}

.header__main__container {
    height: 152px;
}

.header__logo {
    margin: 69px 0 37px 0;
}

.nav-menu {
    display: flex;
    margin: 80px 0 52px 0;
}

.nav-menu>.nav-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.nav-menu>.nav-item:not(:last-child) {
    margin-right: 5.9rem;
}

.nav-menu>.nav-item:hover {
    color: var(--color-primary);
    transform: scale(1.02);
    transition: 0.1s linear;
}