.XS-header__main {
    width: 100%;
    color: #FFFFFF;
    overflow-y: hidden;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    background-color: var(--color-dark-blue);
    display: none;
}

@media screen and (min-width: 59.375em) {
    .XS-header__main {
        display: none;
    }
}

.XS-header__main .XS-header__main__nav-item {
    width: 311px;
    margin: 0 auto;
}

.XS-header__main__nav {
    margin: 35px 0 57px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider-rect {
    width: 311px;
    height: 1px;
    background: var(--color-mid-gray);
    opacity: 0.1;
}

.XS-header__main__nav-item .nav-item {
    border-top: 1px solid rgba(196, 196, 196, 0.2);
    padding: 20px 0;
}

.nav-item__subitem {
    margin-left: 27px;
}

.nav-item__subitem>li {
    padding: 12px 0;
}